* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.carousel-item img {
    height: 70vh;
    object-fit: cover;
}

.carousel-caption p {
    font-size: clamp(1rem, 4vw, 2rem);
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.4);
    padding: 8px 15px;
    border-radius: 10px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-control-prev,
.carousel-control-next {
    width: 8%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
    background-color: rgba(0, 0, 0, 0.4);
    background-size: 100%;
}

.row {
    margin-top: 2rem !important;
}

.carousel-inner {
    height: 70vh;
}

.img-row {
    margin-top: 2rem;
}



@media (max-width:768px) {
    .carousel-item img {
        height: 50vh;
    }

    .carousel-caption {
        width: 100%;
        bottom: 30%;
        padding: 5px 10px;
    }

    .carousel-caption p {
        font-size: 1rem;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 0%;
    }

    .carousel-control-prev {
        left: 5px;
    }

    .carousel-control-next {
        right: 5px;
    }

    .row {
        margin-top: 0.5rem !important;
    }

    .carousel-inner {
        height: 55vh;
    }

    .img-row {
        margin-top: 3rem;
    }
}