* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.login_theme {
    position: fixed;
    top: 12%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://wallpapers.com/images/hd/dark-theme-background-8xlni5mkdutatc7r.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    filter: blur(2px);
}