* {
    margin: 0;
    padding: 0;
}

#main_background {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgb(197, 133, 133), rgb(89, 89, 132));
}

#header {
    width: 100vw;
    height: 8vh;
    background-color: rgb(238, 241, 241);
    display: flex;
    justify-content: center;
    align-items: center;
}

.rainbow-Text {
    text-shadow: #a3a3a3 1px 1px 0px;
    color: rgb(225, 45, 28);
}

.navbar_container {
    width: 100vw;
    background-color: rgba(235, 138, 47, 0.4);
    display: flex;
    align-items: center;
    padding-right: 10px;
}

#nav_bar {
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px;
    width: 100%;
}

#hamburger {
    display: none;
    font-size: 35px;
    padding: 10px;
    cursor: pointer;
}

.profile-section {
    margin-left: auto;
    padding: 10px;
}


@media (max-width:600px) {
    #hamburger {
        display: block;
    }

    #nav_bar {
        display: none;
        flex-direction: column;
        gap: 20px;
        background-color: rgba(239, 236, 233, 0.9);
        width: 50%;
        height: 79vh;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 20px 0;
        position: absolute;
        top: 60px;
        left: 0;
    }

    #nav_bar.show {
        display: flex;
        width: 50%;
    }

    .profile-section {
        position: absolute;
        right: 10px;
        top: 10px;
    }
}


/*todo container*/
.container {
    width: 60vw;
    margin: 30px auto;
    background-color: rgba(231, 230, 228, 0.1);
    border-radius: 20px;
    height: 100vh;
    z-index: 999;
}

form {
    display: flex;
    justify-content: center;
}

#todoText {
    width: 40vw;
    padding: 12px;
}

.todo-submit {
    width: 80px;
    background-color: rgba(15, 196, 15, 0.4);
    cursor: pointer;
}

.ListContainer {
    margin-top: 25px;
    display: flex;
    justify-content: center;
}

.ListContainer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 400px;
}

.todoItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    padding: 5px 10px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.todoItem label {
    flex: 1;
}

.buttons {
    display: flex;
    gap: 10px;
}

#editBtn {
    width: 50px;
    background-color: rgba(44, 181, 44, 0.4);
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}

#delBtn {
    width: 50px;
    background-color: rgba(44, 181, 44, 0.4);
    padding: 5px;
    border-radius: 30px;
    cursor: pointer;
}