* {
    margin: 0;
    padding: 0;
}

.optionTheme {
    background: url('https://images-cdn.ubuy.co.in/66c85c08664c8b0a76391535-awert-undersea-theme-aquarium-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}