* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.profile-container {
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    cursor: pointer;
}

.profile-icon {
    font-size: 100px;
    color: #666;
    transition: 0.3s;
}

.edit-icon {
    font-size: 16px;
    position: absolute;
    right: 43%;
    bottom: 27%;
}

.profile-preview {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

@media (max-width: 576px) {
    .profile-icon {
        font-size: 80px;
    }

    .edit-icon {
        font-size: 14px;
        right: 38%;
        bottom: 26%;
    }
}